@page "/"
@using AtomicFlow.Blazor.Client.Services
@inject IHabitService HabitsService

<PageTitle>Habits</PageTitle>

<h2>Habits</h2>

<button class="btn btn-primary" @onclick="CreateHabitAsync">Add</button>

@code
{
    private async Task CreateHabitAsync()
    {
        await HabitsService.CreateHabitAsync();
    }
    
}
