@page "/"
@using AtomicFlow.Blazor.Client.Services
@using AtomicFlow.Contracts.Habits
@inject IHabitService HabitsService

<PageTitle>Habits</PageTitle>

<h1>Habits</h1>

@if (GetHabitsResponse is not null)
{
    foreach (var habit in GetHabitsResponse.Items)
    {
        <div class="habit-card">
            <h3>@habit.Name</h3>
            <div class="heatmap">
                @foreach (var day in Enum.GetValues(typeof(DaysResponse)))
                {
                    <div class="heatmap-row">
                        @for (int i = 0; i < 10; i++)
                        {
                            <div class="heatmap-cell"></div>
                        }
                    </div>
                }
            </div>
        </div>
    }
}

@code
{
    public GetHabitsResponse? GetHabitsResponse { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var habitResponses = await HabitsService.CreateHabitAsync();
        GetHabitsResponse = habitResponses;
    }
}
